@font-face {
    font-family: 'amatic';
    src: url('fonts/amatic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lengineer';
    src: url('fonts/lengineer.woff') format('woff');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'billy';
    src: url('fonts/billy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rabiohead';
    src: url('fonts/rabiohead.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lobster_two';
    src: url('fonts/lobstertwo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'kohicle';
    src: url('fonts/kohicle25.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    text-align: center;
    background: #171717;
}

select {
    -webkit-appearance:none;
    position: relative;
    font-family: 'lobster_two';
    font-size: 24px;
    height: 48px;
    padding: 0 10px;
    vertical-align: middle;
    top: 32px;
    margin: -30px 0 0 0;
	border: 8px solid #A71F27;
    background-image: url("img/down.png") !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
 }

select option {
    font-family:sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #000;
}

 select.rt {
	background: #2c2c2c;
	color: #A71F27;
	border-color: #A71F27;
	text-shadow: 0px 0px 3px #121212;
 }

 select.lp {
	background: #454545;	
	color: #bfff2d;
	border-color: #353535;
	text-shadow: 0px 0px 3px #021E00;
 }

 select.ah {
	background: #094C09;	
	color: #00FC00;
	border: 8px solid #292b36;
	text-shadow: 0px 0px 3px #021E00;
 }

 select.fh {
	background: #292b36;
	color: #f8840d;
	border-color: #E98C09;
	text-shadow: 0px 0px 3px #121212;
 }

 select.know {
	background: #2B4F88;
	color: #FCF8F7;
	border-color: #A8ADB1;
	text-shadow: 0px 0px 3px #080213;
 }

 select.cc {
	background: #131419;
	color: #ce121d;
	border-color: #e3bf27;
	text-shadow: 0px 0px 3px #2c2c2c;
 }

#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    text-align: left;
	width: 80%;
    margin: 12px auto 20px auto;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
}

.rt_board {	
	background: #2c2c2c;
	color: #A71F27;
	border: 20px solid #A71F27;
}

.lp_board {	
	background: #454545;
	color: #bfff2d;
	border: 20px solid #353535;
}

.ah_board {	
	background: #094C09;
	color: #00FC00;
	border: 20px solid #292b36;
}

.fh_board {	
	background: #292b36;
	color: #f8840d;
	border: 20px solid #E98C09;
}

.know_board {	
	background: #2B4F88;
	color: #FCF8F7;
	border: 20px solid #A8ADB1;
}

.cc_board {	
	background: #131419;
	color: #ce121d;
	border: 20px solid #e3bf27;
}

.card {
    background: #f0f0f0;
	border: 5px solid #494949;
	color: #303030;
    font-family: 'lengineer';
	font-size:24px;
    font-weight: 500;
    width: 25%;
    max-width: 250px;
    min-width: 200px;
    flex: 1 1 auto;
    align-self: auto;
    padding: 10px;
    margin: 5px 5px 48px;
    position: relative;
}

.card:nth-child(2n) {
    font-family: 'billy';
	font-size:26px;
    transform: rotate(1.5deg);
    width: 30%;
    max-width: 300px;
}

.card:nth-child(3n) {
    font-family: 'rabiohead';
    font-weight: 500;
	font-size: 20px;
    transform: rotate(-1deg);
    width: 30%;
    max-width: 275px;
    align-self: flex-start;
}

.card:nth-child(5n) {
    transform: rotate(1deg);
    width: 35%;
    max-width: 350px;
    align-self: flex-end;
}

.card h1 {
    font-size: 25px;
    display: block;
    margin: 0 0 10px 0;
    font-weight: normal;
}

.card:nth-child(2n) h1{
    font-family: 'amatic';
    font-size: 30px;
}

.card:nth-child(3n) h1{
    font-family: 'kohicle';
	font-size:26px;
    font-weight: 600;
}

.rt_board .card{
    background: #FFF8F1;
	border-color: #494949;
}

.lp_board .card{
    background: #F6F7F8;
	border-color: #353535;
}

.ah_board .card{
    background: #f0f0f0;
	border-color: #213e21;
}

.fh_board .card{
    background: #F0F0E1;
	border-color: #352a20;
}

.know_board .card{	
    background: #f0f0f0;
	border-color: #202631;
}

.cc_board .card{	
    background: #f0f0f0;
	border-color: #494949;
}

.rt_board > .card h1 a{
	color: #A71F27;
}

.lp_board > .card h1 a{
	color: #094C09;
}

.ah_board > .card h1 a{
	color: #021E00;
}

.fh_board > .card h1 a{
	color: #f8840d;
}

.know_board > .card h1 a{
	color: #3d3d3d;
}

.cc_board > .card h1 a{
	color: #ce121d;
}

.card h1 a{
    text-decoration: none;
}

.card .time {

}

.card .desc {
    display: block;
    margin: 0 0 -30pxpx 0;
}

.card .length {
    display: block;
}

.card .thumb {
    width: 144px;
    height: 80px;
    border: 5px solid #FFF;
    overflow: hidden;
    margin: 0 0 -30px 0;
    right: 10px;
    bottom: -10px;
    float: right;
}

.card .thumb img {
    width: 144px;
    height: 108px;
    margin-top: -14px;
}

.card .reddit {
    position: absolute;
    bottom: 0;
    left: 2px;
}
